<h1>マイページ</h1>
<div class="col-md-4">
<table class="table">
  <tbody class="thead">
    <tr>
      <th>ユーザー名</th>
      <td id=<%= "users-show__task-#{@user.id}-title" %> ><%= @user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td id=<%= "users-show__task-#{@user.id}-content" %> ><%= @user.email %></td>
    </tr>
  </tbody>
 </table>
</div>
